.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;

  &-amount {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;

    &-description {
      margin: 0;
    }
  }

  &-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
  }

  &-content-wrapper {
    width: 100%;
    flex: 1;
  }
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.header {
  color: #fff;
  margin-bottom: 2rem;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.flex{
  display: flex;
  gap: 10px;

  &-center{
    @extend .flex;
    justify-content: center;
  }

  &-left{
    @extend .flex;
    align-items: flex-start;
  }

  &-right{
    @extend .flex;
    align-items: flex-end;
  }
}

@media (min-width: 720px) {
  .account {
    flex-direction: row;

    &-content-wrapper.cta {
      flex: 0;
    }
  }

  .transaction-button {
    width: 200px;
  }
}
