.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }

  &-item {
    text-decoration: none;
    margin-right: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &-logo {
    display: flex;
    align-items: center;

    &-image {
      max-width: 100%;
      width: 200px;
    }
  }

  .icon{
    position: relative;
    top: 0.125em;
    height: 1rem;
    width: 1rem;
    fill: #2c3e50;
  }
}
